html {
  --color1: #e782a9;
  --color2: #233249;
  --color3: #ffffff;
  --color4: #ea5045;
  --color5: #dfe0e4;
}

html,
body {
  margin: 0 auto;
  background-color: #dfe0e4;
}

h1,
h2,
ul {
  font-family: Arial, Helvetica, sans-serif;
}

p,
h3 {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header .logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-left: 6%;
}

header li,
a {
  text-decoration: none;
  font-size: 15px;
  color: var(--color2);
}

.top-nav {
  background-color: #233249;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding-left: 1em;
}

.menu-button-container {
  display: none;
  height: 30%;

  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

nav {
  height: 100%;
}

.menu > li {
  margin: 0;
  padding: 2em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* Category */

img {
  max-width: 100%;
}

.text-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 24px;
}

.hero h2 {
  font-size: 1.5rem;
  color: #555;
  margin: 10px 0 0;
}

.hero p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  max-width: 700px;

  padding: 0 40px; /* Ekstra plads på siderne i paragrafen */
}
.textcontainer .categories {
  margin: 2.5em;
}
.button-link {
  margin: 2.5em;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color3);
  background-color: var(--color2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-link:hover {
  background-color: var(--color1);
  color: var(--color3);
  border-color: var(--color1);
}
/* kategorier  */
.categories h2 {
  font-size: 35px;
  margin: 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .blok {
  background: #f8f4f4;
  padding: 45px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 7px;
  color: #212121;
  font-weight: 400;
  font-style: normal;
}
.container h2 {
  font-size: 15px;
}
.container a {
  color: #212121;
  text-decoration: none;
  color: inherit;
}
.blok {
  width: 300px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.blok:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.blok svg {
  transition: fill 0.3s ease;
}

.blok:hover svg {
  fill: #e1e7ef; /* Change SVG color on hover */
}

.blok h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/*Billede_Video*/
.subcategories h1 {
  text-align: center;
  font-size: 30px;
}

.subcategories ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subcategories li {
  color: var(--color2);
  margin: 0;
  padding: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer*/
footer {
  padding-top: 1em;
  background-color: var(--color2);
}
footer h3 {
  color: #ffffff;
}

footer li {
  line-height: 2em;
  text-decoration: underline;
  text-align: left;
}

footer p {
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 7.5em;
}

.footer div {
  color: white;
}

footer img {
  width: 100%;
  max-width: 100px;
  height: auto;
}
footer .logo {
  width: 100%;
  padding-bottom: 1em;
  max-width: 30px;
  height: auto;
}

.newsletter-container {
  max-width: 500px;
  margin: 0 auto;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.newsletter-form input {
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 70%;
  max-width: 300px;
}

.newsletter-form button {
  padding: 1em 1.5em;
  font-size: 1em;
  border: none;
  background-color: var(--color4);
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s ease;
}

.newsletter-form input:focus {
  outline: none;
}

.omos {
  text-align: center;
}

.tekstomos {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tekstomos2 {
  font-size: small;
  text-align: center;
}

.findvej,
.Kontakt {
  padding-top: 30px;
  margin-left: 10px;
}

.hr1,
.hr2 {
  color: #ea5045;
}

/* mobile */
@media (max-width: 814px) {
  nav {
    display: contents;
  }

  .omos {
    text-align: center;
  }

  .menu-button-container {
    display: flex;
    padding: 3em;
    justify-content: flex-end;
  }

  .menu-button {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }

  .menu-button span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.3s ease;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    right: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ nav .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ nav .menu li {
    border-bottom: 1px solid var(--color3);
    background-color: #233249;
    height: 4em;
    padding: 1.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    color: white;
  }
}
